@model BulkyBook.Models.ViewModels.OrderDetailsVM
@using BulkyBook.Utility
@using Microsoft.Extensions.Options

@inject IOptions<BulkyBook.Utility.StripeSettings> Stripe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <input hidden asp-for="OrderHeader.Id">
    <br />
    <div class="backgroundWhite container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-12 d-none d-md-block col-md-6 pb-1">
                    <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">PickUp Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input type="text" class="form-control" asp-for="OrderHeader.Name" />
                                    }
                                    else
                                    {
                                        <input readonly type="text" class="form-control" asp-for="OrderHeader.Name" />
                                    }

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input type="text" class="form-control" asp-for="OrderHeader.PhoneNumber" />
                                    }
                                    else
                                    {
                                        <input readonly type="text" class="form-control" asp-for="OrderHeader.PhoneNumber" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input type="text" class="form-control" asp-for="OrderHeader.StreetAddress" />
                                    }
                                    else
                                    {
                                        <input readonly type="text" class="form-control" asp-for="OrderHeader.StreetAddress" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input type="text" class="form-control" asp-for="OrderHeader.City" />
                                    }
                                    else
                                    {
                                        <input readonly type="text" class="form-control" asp-for="OrderHeader.City" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">State</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input type="text" class="form-control" asp-for="OrderHeader.State" />
                                    }
                                    else
                                    {
                                        <input readonly type="text" class="form-control" asp-for="OrderHeader.State" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Zip Code</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input type="text" class="form-control" asp-for="OrderHeader.PostalCode" />
                                    }
                                    else
                                    {
                                        <input readonly type="text" class="form-control" asp-for="OrderHeader.PostalCode" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input type="text" class="form-control" asp-for="OrderHeader.Email" />
                                    }
                                    else
                                    {
                                        <input readonly type="text" class="form-control" asp-for="OrderHeader.Email" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">

                                    <input readonly type="text" class="form-control" value="@Model.OrderHeader.OrderDate.ToShortDateString()" />

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Carrier</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input type="text" class="form-control" id="carrier" asp-for="OrderHeader.Carrier" />
                                    }
                                    else
                                    {
                                        <input readonly type="text" class="form-control" id="carrier" asp-for="OrderHeader.Carrier" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Tracking</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <input type="text" class="form-control" id="trackingNumber" asp-for="OrderHeader.TrackingNumber" />
                                    }
                                    else
                                    {
                                        <input readonly type="text" class="form-control" id="trackingNumber" asp-for="OrderHeader.TrackingNumber" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">

                                    <input readonly type="text" class="form-control" id="shippingDate" value="@Model.OrderHeader.ShippingDate.ToShortDateString()" />

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Transaction ID</div>
                                <div class="col-9">

                                    <input readonly type="text" class="form-control" id="transactionId" asp-for="OrderHeader.TransactionId" />

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Due Date</div>
                                <div class="col-9">

                                    <input readonly type="text" class="form-control" id="paymentDue" value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()" />

                                </div>
                                <div class="col-3">Payment Date</div>
                                <div class="col-9">

                                    <input readonly type="text" class="form-control" id="paymentDate" value="@Model.OrderHeader.PaymentDate.ToShortDateString()" />

                                </div>
                            </div>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                            {
                                <div class="row my-1">
                                    <div class="col-3">Payment Status</div>
                                    <div class="col-9">
                                        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                        {
                                            <input type="text" class="form-control" readonly id="paymentStatus" asp-for="OrderHeader.PaymentStatus" />
                                        }

                                    </div>
                                </div>
                            }

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var item in Model.OrderDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div class="row container">

                                            <div class="col-8">
                                                <input hidden asp-for="@item.Id" />
                                                <h6 class="my-0 text-primary">@item.Product.Title</h6>
                                                <small class="text-muted">Price : @item.Product.Price.ToString("C")</small>
                                                <small class="text-muted">Quantity :@item.Count</small>
                                            </div>
                                            <div class="col-4">
                                                <h5 class="text-success">@(String.Format("{0:C}",item.Count*item.Price)) </h5>
                                            </div>
                                        </div>
                                    </li>

                                }
                                <li class="list-group-item bg-info">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-right">
                                            <h5 class="text-white">@Model.OrderHeader.OrderTotal.ToString("C")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                            {
                                <div>
                                    @if (Model.OrderHeader.OrderStatus == SD.StatusApproved)
                                    {
                                        <a asp-area="Admin" asp-controller="Order" asp-action="StartProcessing" asp-route-id="@Model.OrderHeader.Id" class="btn btn-success form-control btn-sm">Start Processing</a>
                                    }
                                    @if (Model.OrderHeader.OrderStatus == SD.StatusInProcess)
                                    {
                                        <input type="submit" value="Ship Order" onclick=" return ValidateInput()" class="btn btn-primary form-control" formaction="/Admin/Order/ShipOrder" formmethod="post" />

                                    }
                                </div>
                            }
                            else
                            {
                                <label class="btn btn-primary form-control">@Model.OrderHeader.OrderStatus</label>
                            }

                            @if (Model.OrderHeader.OrderStatus != SD.StatusRefunded && Model.OrderHeader.OrderStatus != SD.StatusCancelled && User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                            {
                                <a asp-area="Admin" asp-controller="Order" asp-action="CancelOrder" asp-route-id="@Model.OrderHeader.Id" class="btn btn-danger form-control btn-sm" style="margin-top:10px;">Cancel Order</a>

                            }
                            @{
                                var OrderTotalForStripe = Model.OrderHeader.OrderTotal * 100;
                            }

                            @if (Model.OrderHeader.PaymentStatus == SD.PaymentStatusDelayedPayment && Model.OrderHeader.OrderStatus == SD.StatusShipped)
                            {
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="@Stripe.Value.PublishableKey"
                                        data-amount="@OrderTotalForStripe"
                                        data-name="Bulky Book"
                                        data-label="Place Order"
                                        data-description="Get Books, For Less"
                                        data-locale="auto"
                                        data-allow-remember-me="false"
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png">
                                </script>
                                <script>
                                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                                </script>
                                <button type="submit" value="Place Order" class="btn btn-success form-control">Pay Now</button>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        function ValidateInput() {
            var tracking = document.getElementById("trackingNumber").value;
            var carrier = document.getElementById("carrier").value;
            if (tracking.toString() == '') {
                swal("Error", "Please enter Tracking Number", "error")
                return false;
            }
            else {
                if (carrier.toString() == '') {
                    swal("Error", "Please enter Carrier Name", "error")
                    return false;
                }
                else {
                    return true;
                }
            }
        }
        $(document).ready(function () {
            var shipping = document.getElementById("shippingDate");
            if (shipping.value == "01/01/0001") {
                shipping.value = "";
            }

            var paymentDate = document.getElementById("paymentDate");
            if (paymentDate.value == "01/01/0001") {
                paymentDate.value = "";
            }
            var paymentDueDate = document.getElementById("paymentDue");
            if (paymentDueDate.value == "01/01/0001") {
                paymentDueDate.value = "";
            }
        }
        )
    </script>
}