@model BulkyBook.Models.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post">
    <br />
    @if (Model.ListCart.Count() > 0)
    {
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Shopping Cart
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.ListCart)
                        {
        <div class="row">
            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                <img src="@item.Product.ImageUrl" class="rounded" width="100%" />
            </div>
            <div class="col-12 text-sm-center col-lg-6 text-lg-left">
                <h5><strong>@item.Product.Title</strong></h5>
                <p><small>@item.Product.Description</small></p>
            </div>
            <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                <div class="col-4 text-md-right" style="padding-top:5px;">
                    <h6><strong>@item.Price.ToString("C")<span class="text-muted">x</span> @item.Count </strong></h6>
                </div>
                <div class="col-6 col-sm-4 col-lg-6">
                    <div class="float-right mx-1">
                        <a asp-action="Plus" asp-route-cartId="@item.Id" class="btn btn-primary">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                    <div class="float-right mx-1">
                        <a  asp-action="Minus" asp-route-cartId="@item.Id" class="btn btn-danger">
                            <i class="fas fa-minus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-2 col-sm-4 col-lg-2 text-right">
                    <a asp-action="Remove" asp-route-cartId="@item.Id" class="btn btn-outline-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
                        <hr />
                        }
                        <div class="row">
                            <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span class="text-info"> Total (USD)</span>
                                        <strong class="text-info">$ <span id="txtOrderTotal">@Model.OrderHeader.OrderTotal.ToString("C")</span></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer row">
                            @if (!Model.OrderHeader.ApplicationUser.EmailConfirmed && Model.OrderHeader.ApplicationUser.CompanyId != null
                                && Model.OrderHeader.ApplicationUser.Company.IsAuthorizedCompany)
                {
                                <div class="col-8 text-danger">
                                    Email Must Be Confirmed for authorized customer !
                                </div> 
                                <div class="col-4">
                                    <button class="btn btn-outline-danger btn-sm" type="submit">Click here to resend confirmation Email!</button>
                                </div>
                }
                else
                {
                        <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">

                            <a asp-area="Customer" asp-controller="Cart" asp-action="Summary" class="btn btn-success form-control">Summary</a>
                        </div>
                }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
               
                    
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center">
                        <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>Your Cart is Empty</strong></h3>
                        <h4>Add something to make me happy :)</h4> 
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
}
</form>



